.div{
    display: flex;
    flex-direction: column;
    background-color: rgb(139, 254, 139);
    border: 1rem solid rgb(151, 158, 255);
    border-radius: 2rem;
    width:fit-content;
    justify-content: center;
}