.div {
  display: flex;
  flex-direction: column;
  background-color: rgb(119, 116, 116);
  width: fit-content;
  height: fit-content;
  margin: 5rem;
  border-radius: 1rem;
  align-items: center;
}

.button {
  margin-left: 46.791%;
  background-color: red;
  width: fit-content;
}

.image {
  border-radius: 1rem;
  width: fit-content;
}

.heartRed {
  background-color: transparent;
  width: fit-content;
  border: 0;
  font-size: 1.5rem;
  margin-right: 84%;
}

.heartWhite {
  background-color: transparent;
  width: fit-content;
  border: 0;
  font-size: 1.5rem;
  margin-right: 84%;
}
